<body>
    <div class="container"  style="display: flex; justify-content: center; align-items: center;">
        <img src = "../../assets/images/Library BG.jpg"/>
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header shadow">
                    <h1>Sign Up</h1>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="username" [(ngModel)]="credentials.username" required>
                        </div>
                        <small *ngIf="!validUsername" class="input-error">*username is required</small>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="credentials.password" required>
                        </div>
                        <small *ngIf="!validPassword" class="input-error">*password is required</small>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="confirmPassword" placeholder="confirm password" [(ngModel)]="credentials.confirmPassword" required>
                        </div>
                        <small *ngIf="!passwordMatch" class="input-error">*passwords don't match</small>
                        <div class="row align-items-center remember">
                            <input type="checkbox" name="remember-me" [(ngModel)]="rememberMe">Remember Me
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Sign up" class="btn float-right login_btn" (click)="onsubmit()">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Already have an account?<a routerLink="/login">Log in!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>