.footer {
    padding: 0.5rem 4rem 0.5rem 4rem;
    height: auto;
    color: #FFC312; 
    font-size: 20px;
}  

.top-img {
    position: fixed;
    z-index: -1;
    bottom: 0px;
    left: 0px;
}

.back-to-top-btn {
    color: white; 
    border-color: transparent;
    text-shadow: 3px 3px 5px black;
    font-size: 30px; 
    font-family: 'Brush Script MT';
    font-style: italic, bold; 
}