h1 {
    margin: 3rem;
    margin-left: 0px;
}
  
.active {
    background-color: #FFC312;
    border-color: #FFC312;
}
  
.list-group-item {
    display: flex; 
    align-content: center;
}
  
.list-group-item-text {
    display:inline-block; 
    margin-left: 5%; 
    width: 70%; 
    height: fit-content; 
    margin-top: auto; 
    margin-bottom: auto;
}
  
.list-group {
    margin: 3rem;
    margin-left: 0px;
    margin-top: 0px;
}
  
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}