<div class="inner">
    <main role="main">
        <div class="row featurette" style="margin: 30px;">
            <a *ngFor="let genre of genres" class="container genre-cnt" data-toggle="collapse" href="#{{genre.name}}-books">
                <img class="rounded-circle" width="130" height="130" [src]="genre.imageSrc"/> 
                <div class="genre-text-cnt">
                    <h2 class="genre-text">{{genre.name}}</h2>
                    <br>
                    <h6 class="text-muted genre-text">{{genre.quantity}} Books</h6>
                </div>
            </a>
        </div>
        <div class="collapse container" *ngFor="let genre of genres; let i = index" id="{{genre.name}}-books">
            <app-genre [id]="i"></app-genre>
        </div>
    </main>
</div>