a {
    color: #5a5a5a;
}

a:hover {
    cursor: pointer;
}

a:hover > img {
    transform: scale(1.1) rotate(5deg);
}

h2 {
    font-weight: 400;   
}

h2.top-books {
    font-style: italic;
    margin-bottom: 20px;
}

hr {
    width: 40%;
    right: 0px;
    margin-left: 0px;
}
  
.inner {
    background-color: white; 
    padding-top: 3rem;
    min-height: 85vh;
}
  
.btn {
    margin: 10px;
    margin-left: 0px;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.featurette {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

.genre-cnt {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 330px;
    margin: 20px 0px 20px 0px;
}

.genre-text {
    display: inline-block; 
    width: fit-content;
}

.genre-text-cnt {
    width: fit-content; 
    margin: 20px; 
    text-align: center;
}

.list-group {
    margin: 3.5rem;
}

.list-group-item.active {
    background-color: #FFC312;
    border-color: #FFC312;
}

.list-item-text {
    display:inline-block; 
    margin-left: 5%; 
    width: 80%; 
    height: fit-content; 
    margin-top: auto; 
    margin-bottom: auto;
}
  
.list-group-item {
    display: flex; 
    align-content: center;
    justify-content: center;
}

.list-group-item:hover {
    cursor: pointer;
}
  
.list-item-status {
    width: fit-content;
}
  
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}