<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand shadow" routerLink="/">Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">Books</a>
                        <ul class="dropdown-menu" style="columns: 4;">
                            <li class="dropdown-header" href="#">Children</li>
                            <li><a class="dropdown-item" href="#">Children</a></li>
                            <li><a class="dropdown-item" href="#">Poetry</a></li>
                            <li><a class="dropdown-item" href="#">Fantasy</a></li>
                            <li class="dropdown-header" href="#">Comedy</li> 
                            <li><a class="dropdown-item" href="#">Crime Fiction</a></li>
                            <li><a class="dropdown-item" href="#">Children</a></li>
                            <li><a class="dropdown-item" href="#">Romance</a></li>
                            <li class="dropdown-header" href="#">Adults</li> 
                            <li><a class="dropdown-item" href="#">Poetry</a></li>
                            <li><a class="dropdown-item" href="#">Sci-Fi</a></li>
                            <li><a class="dropdown-item" href="#">Romance</a></li>
                            <li><a class="dropdown-item" href="#">Crime Fiction</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="#">Others</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>
                
                <div class="input-group rounded mt-2 mt-md-0" style="width: auto;">
                    <input type="search" class="form-control rounded mr-sm-2 dropdown-toggle" data-toggle="dropdown" (keyup)="onsearch()" [(ngModel)]="searchedToken" placeholder="Search" style="margin-right: 3px !important;">
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><i class="fa fa-book fa-fw"></i> Books</li>
                        <li *ngFor="let b of searchedBooks"><a class="dropdown-item" routerLink="/book/{{b.title}}">{{b.title}}</a></li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-header"><i class="fa fa-edit fa-fw"></i> Authors</li>
                        <li *ngFor="let a of searchedAuthors"><a class="dropdown-item" routerLink="/author/{{a.name}}">{{a.name}}</a></li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-header"><i class="fa fa-newspaper-o fa-fw"></i> Publishers</li>
                        <li *ngFor="let p of searchedPublishers"><a class="dropdown-item" routerLink="/publisher/{{p.name}}">{{p.name}}</a></li>
                    </ul>

                    <span class="input-group-text border-0" style="margin-right: 10px; background-color: #FFC312;">
                        <i class="fa fa-search"></i>
                    </span>
                </div>

                <span class="nav-item dropdown" *ngIf="isLogedin">
                    <a class="nav-link dropdown-toggle shadow" href="#" data-toggle="dropdown" style="color: white;">
                        <i class="fa fa-user-circle-o fa-fw" style="font-size: larger;"></i> {{username}}  </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a *ngIf="access === 'user'" class="dropdown-item" routerLink="/dashboard"><i class="fa fa-drivers-license fa-fw"></i> Dashboard</a></li>
                        <li><a *ngIf="access === 'admin'" class="dropdown-item" routerLink="admin/edit-info"><i class="fa fa-edit fa-fw"></i> Dashboard</a></li>
                        <li><a *ngIf="access === 'user'" class="dropdown-item" routerLink="/requests"><i class="fa fa-envelope fa-fw"></i> Requests <span class="badge badge-pill badge-warning">{{newRequests}}</span></a></li>
                        <li><a *ngIf="access === 'admin'" class="dropdown-item" routerLink="admin/requests"><i class="fa fa-envelope fa-fw"></i> Requests <span class="badge badge-pill badge-warning">{{newRequests}}</span></a></li>
                        <!-- <li><a class="dropdown-item" routerLink="/change-password"><i class="fa fa-unlock-alt fa-fw"></i> Change Password</a></li> -->
                        <li><a class="dropdown-item" routerLink="/" (click)="onlogout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul>
                </span>

                <span class="nav-item dropdown" *ngIf="!isLogedin">
                    <a class="nav-link dropdown-toggle shadow" href="#" data-toggle="dropdown" style="color: white;">
                        <i class="fa fa-user-circle-o fa-fw"></i> Login | Register  </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" routerLink="/login"><i class="fa fa-sign-in fa-fw"></i> Sign in</a></li>
                        <li><a class="dropdown-item" routerLink="/signup"><i class="fa fa-user-plus fa-fw"></i> Sign up</a></li>
                    </ul>
                </span>
            </div>
        </nav>
    </header>
</body>