<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../Main page/index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">Books</a>
                        <ul class="dropdown-menu" style="columns: 4;">
                        <li class="dropdown-header" href="#">Children's</li>
                        <li><a class="dropdown-item" href="#">1-3 years</a></li>
                        <li><a class="dropdown-item" href="#">3-5 years</a></li>
                        <li><a class="dropdown-item" href="#">5-8 years</a></li>
                        <li class="dropdown-header" href="#">Comedy</li> 
                        <li><a class="dropdown-item" href="#">Fantasy</a></li>
                        <li><a class="dropdown-item" href="#">Comedy horror</a></li>
                        <li><a class="dropdown-item" href="#">Sci-fi</a></li>
                        <li class="dropdown-header" href="#">Folklore</li> 
                        <li><a class="dropdown-item" href="#">Fairy tale</a></li>
                        <li><a class="dropdown-item" href="#">Ghostlore</a></li>
                        <li><a class="dropdown-item" href="#">Legend</a></li>
                        <li><a class="dropdown-item" href="#">Myth</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="#">Others</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>

                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-yellow my-2 my-sm-0" type="submit">Search</button>
                </form>

                <span class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" style="color: white;">
                        <i class="fa fa-user-circle-o fa-fw"></i> Profile</a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a *ngIf="access === 'user'" class="dropdown-item" routerLink="/dashboard"><i class="fa fa-drivers-license fa-fw"></i> Dashboard</a></li>
                        <li><a *ngIf="access === 'admin'" class="dropdown-item" routerLink="/edit-info"><i class="fa fa-edit fa-fw"></i> Dashboard</a></li>
                        <li><a class="dropdown-item" routerLink="/requests"><i class="fa fa-envelope fa-fw"></i> Requests <span class="badge badge-pill badge-warning">{{newRequests}}</span></a></li>
                        <li><a class="dropdown-item" routerLink="/change-password"><i class="fa fa-unlock-alt fa-fw"></i> Change Password</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul>
                </span>
            </div>
        </nav>
    </header>
</body>