html, body, main, footer {
    overflow: auto;
}
  
body {
    color: #5a5a5a;
}
  
.inner {
    background-color: white; 
    min-height: 85vh;
    padding-top: 3rem;
} 
  
.list-item-text {
    display:inline-block; 
    margin-left: 5%; 
    width: 80%; 
    height: fit-content; 
    margin-top: auto; 
    margin-bottom: auto;
}
  
.list-group-item {
    display: flex; 
    align-content: center;
    justify-content: center;
}

.list-group-item:hover {
    cursor: pointer;
}
  
.list-item-status {
    width: fit-content;
}
  
.list-group {
    margin: 3rem;
    margin-left: 0px;
}
  
h1 {
    margin: 3rem;
}
  
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
}
  
    .featurette-heading {
      font-size: 50px;
    }
}
  
@media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
}
  
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.list-group {
    margin: 3.5rem;
}

.list-group-item.active {
    background-color: #FFC312;
    border-color: #FFC312;
}

.input-group-prepend span {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC312;
    color: white;
    border:0 !important;
}

input:focus, textarea:focus {
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.input-error {
    color: #FFC312; 
    position: relative; 
    top: -15px;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: black;
    background-color: #FFC312;
    width: fit-content;
}

.add_btn:hover {
    opacity: 90%;
}