.list-group-item {
    display: flex; 
    align-content: center;
    justify-content: center;
}

.list-item-text {
    display:inline-block; 
    margin-left: 5%; 
    width: 80%; 
    height: fit-content; 
    margin-top: auto; 
    margin-bottom: auto;
}

.list-group-item:hover {
    cursor: pointer;
}

.list-group {
    margin: 3.5rem;
}

.list-group-item.active {
    background-color: #FFC312;
    border-color: #FFC312;
}
  
.list-item-status {
    width: fit-content;
}
  
h1 {
    margin: 3rem;
}

.header-box {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding-right: 45px;
}
  
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.input-group-prepend span {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC312;
    color: white;
    border:0 !important;
}

input:focus, textarea:focus {
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.input-error {
    color: #FFC312; 
    position: relative; 
    top: -15px;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: black;
    background-color: #FFC312;
    width: fit-content;
}

.add_btn:hover {
    opacity: 90%;
}

.select {
    display: inline-block;
}

.select:focus {
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}