<!-- ###### Book Info Page ######
<app-navigation-bar></app-navigation-bar>
<app-book-info></app-book-info>
<app-footer></app-footer> -->

<!-- ###### Dashboard Page ######
<app-navigation-bar></app-navigation-bar>
<app-dashboard></app-dashboard>
<app-footer></app-footer> -->

<!-- ###### Requests Page ######
<app-navigation-bar></app-navigation-bar>
<app-requests></app-requests>
<app-footer></app-footer> -->

<!-- ###### Login Page ######
<app-login-form></app-login-form> -->

<!-- ###### Signup Page ######
<app-signup-form></app-signup-form> -->

<!-- ###### Signup Page ######
<app-change-password-form></app-change-password-form> -->

<app-navigation-bar></app-navigation-bar>
<router-outlet></router-outlet>
<app-footer></app-footer>