<!-- ###### Book Info Page ######
<app-book-info></app-book-info> -->

<!-- ###### Dashboard Page ######
<app-dashboard></app-dashboard> -->

<!-- ###### Requests Page ######
<app-requests></app-requests> -->

<!-- ###### Login Page ######
<app-login-form></app-login-form> -->

<!-- ###### Signup Page ######
<app-signup-form></app-signup-form> -->

<!-- ###### Signup Page ######
<app-change-password-form></app-change-password-form> -->

<app-navigation-bar *ngIf="showNavbar"></app-navigation-bar>
<router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
<app-footer *ngIf="showNavbar"></app-footer>
<!-- 
<h1>Message: {{message.id}}-{{message.name}}-{{message.dateTest}}</h1>
<button class="btn btn-primary" (click)="addTest()">Add Test</button> -->