<a *ngIf="show()" class="list-group-item list-group-item-action" routerLink="/book/{{bookTitle}}" target="_blank">
    <div style="display:inline-block;">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100" height="100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">100x100</text></svg>
    </div>
    <div class="list-item-text">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{bookTitle}}</h5>
            <small>{{getDate().toLocaleString()}}</small>
        </div>
        <h6 class="text-muted">By: {{bookAuthor}}</h6>
        <h6 class="text-muted" style="font-size: smaller;">Publisher: {{bookPublisher}}</h6>
        <small>Status: 
            <i class="fa fa-bookmark fa-fw" [ngClass]="{'fa-bookmark': (status=='Read Later'), 'fa-ban' : (status=='Rejected')}"></i>
        {{status}}</small>
    </div>
</a>