.list-group-item:active {
    background-color: transparent;
    border-color: transparent;
}

.list-group-item:hover {
    background-color: #FFC312;
    border-color: #FFC312;
}

.list-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
}