<body>
    <div class="container"  style="display: flex; justify-content: center; align-items: center;">
        <img src = "../../assets/images/Library BG.jpg"/>
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header shadow">
                    <h1>Change Password</h1>
                    <!-- <div class="d-flex justify-content-end position-cnt">
                        <button class = "btn position-btn">As User</button>
                        <button class = "btn position-btn">As Librarian</button>
                    </div> -->
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="oldPassword" placeholder="old password" [(ngModel)]="credentials.oldPassword" required>
                        </div>
                        <small *ngIf="!validUsername" class="input-error">*old password is required</small>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" name="newPassword" placeholder="new password" [(ngModel)]="credentials.newPassword" required>
                        </div>
                        <small *ngIf="!validPassword" class="input-error">*new password is required</small>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" name="confirmPassword" placeholder="confirm password" [(ngModel)]="credentials.confirmPassword" required>
                        </div>
                        <small *ngIf="!passwordMatch" class="input-error">*passwords don't match</small>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn float-right login_btn" (click)="onsubmit()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>