h1 {
    margin: 3rem;
    margin-left: 0px;
}
  
.list-item-text {
    display:inline-block; 
    margin-left: 5%; 
    width: 80%; 
    height: fit-content; 
    margin-top: auto; 
    margin-bottom: auto;
}
  
.list-group-item {
    display: flex; 
    align-content: center;
    justify-content: center;
}

.list-group-item:hover {
    cursor: pointer;
}

.active {
    background-color: #FFC312;
    border-color: #FFC312;
}
  
.list-item-status {
    width: fit-content;
}

.list-group-horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
    height: fit-content;
    text-align: center;
    margin: 0px;
    margin-right: 2.5rem;
}
  
.list-group {
    margin: 3rem;
    margin-left: 0px;
}
  
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}