<body>
    <div class="inner">
        <main role="main">
            <div class="container">
                <h1>History</h1>
                <div class="list-group list-group-flush">
                    <div *ngFor="let hi of historyItems">
                        <app-history-item [item]="hi"></app-history-item>
                    </div>
                </div>

                <h1><i class="fa fa-bookmark fa-fw"></i> Favourite Books</h1>
                <div class="list-group list-group-flush">
                    <div *ngFor="let fb of favouriteBooks">
                        <app-genre-book-item [item]="fb"></app-genre-book-item>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>