<div class="inner">
    <div class="container" style="padding-top: 4rem;">
        <div class="top-selector">
            <h1 style="display: inline; margin: auto; margin-left: 0px;"><i class="fa fa-envelope fa-fw"></i> Users Requests</h1>
            <div class="list-group list-group-horizontal inline float-right" style="margin: 0px;">
                <a class="list-group-item list-group-item-action list-item-status active" data-toggle="list" (click)="onclickAll()">All</a>
                <a class="list-group-item list-group-item-action list-item-status" data-toggle="list" (click)="onclickAccepted()">Accepted</a>
                <a class="list-group-item list-group-item-action list-item-status" data-toggle="list" (click)="onclickRejected()">Rejected</a>
                <a class="list-group-item list-group-item-action list-item-status" data-toggle="list" (click)="onclickPending()">Pending</a>
            </div>
        </div> 
        <div class="list-group" style="margin: 0px;">
            <div class="list-group list-group-flush">
                <div *ngFor="let ri of requestItems">
                    <app-admin-request-item [item]="ri"></app-admin-request-item>
                </div>
            </div>
        </div>
    </div>
</div>