#top-img {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
}
   
.top-img-cnt {
    height: 28rem;
}
   
.top-img-innercnt {
    position: absolute;
    color: white;
    top: 200px; 
    left: 50px;
}

.library-header {
    font-family: 'Brush Script MT'; 
    font-size: 4rem; 
    text-shadow: 5px 5px 5px black;
}