#top-img {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
}
   
.top-img-cnt {
    height: 28rem; 
}
   
.top-img-innercnt {
    position: absolute;
    color: white;
    bottom: 200px; 
    left: 30px; 
    margin: 5rem;
}