.list-group-item:active {
    background-color: transparent;
    border-color: transparent;
}

.list-group-item:hover {
    background-color: #FFC312;
    border-color: #FFC312;
}

.btn {
    margin: 5px;
}

.cover-cnt {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(59, 59, 59, 0.9); 
    aspect-ratio: 1;
}