<a class="list-group-item list-group-item-action">
    <img class="hover-effect cover-img" src="../../../assets/images/{{item.coverUrl}}" height="150px">
    <img *ngIf="!item.isAvailable" src="../../assets/images/unavailable.png" style="width: 70px; position: absolute; right: 10px; top: 10px;">

    <div class="list-item-text">
        <div class="d-flex w-100 justify-content-between">
            <a routerLink="/book/{{item.title}}" target="_blank"><h5 class="mb-1">{{item.title}}</h5></a>
        </div>
        <h6 class="text-muted">By: {{item.author.name}}</h6>
        <h6 class="text-muted" style="font-size: smaller;">Publisher: {{item.publisher.name}}</h6>
        <h6 class="text-muted" style="width: fit-content; display: inline-block;">Genre: <span style="margin: 1px; color: rgb(83, 81, 81);" class="badge badge-pill badge-warning">{{item.genre}}</span></h6>
        <h6 *ngIf="lentToThisUser" class="text-muted float-right" style="font-size: smaller;">borrowed from: {{item.startDate}} to {{item.finishDate}}</h6>
        <!-- <h6 class="text-muted" style="font-size: smaller;">tags:
            <div style="display: inline-block;" *ngFor="let t of item.tags">
                <span style="margin: 1px;" class="badge badge-pill badge-warning">{{t}}</span>
            </div>
        </h6> -->
    </div>
</a>